@import url("base.css");

/*font-set*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');


/*--------------------------------------------------------*/
/* main
/*--------------------------------------------------------*/

.only-mobile {	display: none; }

.wrap {min-width:320px; margin:0 auto; position:relative;}
.wrap.sub {}
.main_top {height:775px; background:url(../images/main_visual.jpg) no-repeat center top; position:relative; background-size:cover; border-bottom:1px solid #e5e5e5; text-align:center;}
.logo {top:0px; position:absolute; left:50%; margin-left:-310px;}
.top_m {position:absolute; right:88px; top:57px;}
.top_m a {font-size:16px; color:#fff; margin-left:57px;}
.main_top .txt {text-align:center; padding-top:598px; position:relative;}
.main_top .txt span {display:block; font-size:109px; color:#fff;font-family: 'Roboto Condensed', sans-serif; font-weight:bold; letter-spacing:2px;}
.main_top .txt p {font-size:64px; color:#fff; font-family: 'Roboto Condensed', sans-serif; letter-spacing:0.1px; padding-top:10px; margin-bottom:42px;}
.main_top .txt a {display:inline-block; vertical-align:top; width:300px; height:60px; line-height:60px; border:1px solid #000; background:#fff; font-size:20px; color:#000; margin:0 5px;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.main_top .txt a:hover {opacity:.7;}

.main_top .txt .over {position:absolute; width:700px; height:150px; background:#fff; text-align:center; padding-top:33px; font-size:16px; color:#000; line-height:26px; left:50%; top:656px; margin-left:-350px; box-sizing:border-box; display:none;letter-spacing:-1px;}
.main_top .txt .over b {display:block; font-size:22px; color:#000; font-weight:600; padding-bottom:15px;}
.main_top .txt .over:after {display:block; content:""; width:35px; height:20px; background:url(../images/arrow.png) no-repeat; position:absolute; left:50%; margin-left:-18px; top:-20px;}
.main_top .txt.on .over {display:block;}
.main_top .txt.on a.btn_p2 {background:#666; border-color:#666; color:#fff;}

.top_menu {position:relative;}
.top_menu .m {height: 100%;background: #fff;position: fixed;top: 0;bottom: 0;z-index: 999;overflow: hidden;overflow-y: auto; right:-100%; text-align:left;
-webkit-overflow-scrolling: touch;
transition: right 200ms ease-in-out;
-o-transition: right 200ms ease-in-out;
-ms-transition: right 200ms ease-in-out;
-moz-transition: right 200ms ease-in-out;
-webkit-transition: right 200ms ease-in-out;
}

.top_menu .m .con {position: relative;height: 100%;background: #fff; padding-top:139px;}
.top_menu .m ul {}
.top_menu .m ul li {position:relative;}
.top_menu .m ul li a.depth1 {display:block; font-size:30px; color:#333; font-weight:600; padding-left:49px; margin-top:50px;}
.top_menu .m ul li:first-child a.depth1 {margin-top:0;}
.top_menu .m .con .close {cursor:pointer; position:absolute; top:27px; right:33px;}


.m_menu {position:absolute; right:33px; top:27px; background:none; border:0; cursor:pointer; display:none;}

.top_menu .m .bg {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,.6);
display: none;
transition: right 200ms ease-in-out;
-o-transition: right 200ms ease-in-out;
-ms-transition: right 200ms ease-in-out;
-moz-transition: right 200ms ease-in-out;
-webkit-transition: right 200ms ease-in-out;
}

.top_menu.on .m {right:0;}
.top_menu.on .m .bg {display: block;}

.top_menu .t {}
.wrap.sub .top_menu .t {background:#f8f8f8; background-size: cover; text-align:left; height:95px; padding-top:27px; padding-left:20px;}
.wrap.sub .top_menu .t img.mo {display:none;}

.main_box1 {text-align:center; padding-top:91px; padding-bottom:110px;}
.main_box1 p {font-size:16px; color:#000; line-height:36px; margin-top:46px;}
.main_box1 p:first-child {margin-top:0;}
.main_box1 b {font-weight:600; line-height:36px; color:#000;}

.main_box2 {background:#f8f8f8; text-align:center; padding-top:90px; padding-bottom:137px;}
.main_box2 .tit {width:406px; margin:0 auto; position:relative; font-family: 'Roboto', sans-serif; font-size:30px; color:#333; margin-bottom:105px;}
.main_box2 .tit:before {position:absolute; left:0; top:50%; margin-top:-1px; width:100px; height:1px; background:#ccc; display:block; content:"";}
.main_box2 .tit:after {position:absolute; right:0; top:50%; margin-top:-1px; width:100px; height:1px; background:#ccc; display:block; content:"";}
.main_box2 .map {max-width:1000px; margin:0 auto; position:relative; margin-bottom:32px; height:500px;}
.main_box2 .map #map {width:100% !important; height:100% !important;}
.main_box2 .map a {display:block; width:160px; height:40px; line-height:38px; background:#fff; border:1px solid #e5e5e5; text-align:center; font-size:16px; color:#333;; position:absolute; right:0; bottom:-69px; z-index: 100;}
.main_box2 .info {text-align:left; max-width:1000px; margin:0 auto;}
.main_box2 .info li {position:relative; padding-left:178px; min-height:34px; margin-top:26px;}
.main_box2 .info li:first-child {margin-top:0;}
.main_box2 .info li span {display:block; position:absolute; left:0; top:0; width:150px; height:34px; background:#999; text-align:center; line-height:34px; font-size:16px; color:#fff;}
.main_box2 .info li p {font-size:16px; color:#000; line-height:30px;}
.main_box2 .info li p b {display:inline-block; width:60px; height:26px; text-align:center; line-height:26px; border-radius:26px; font-size:16px; color:#fff; margin-left:-16px; margin-right:12px;}
.main_box2 .info li p b.b1 {background:#f55a16;}
.main_box2 .info li p b.b2 {background:#395cb3;}
.main_box2 .info li p b.b3 {background:#50a232;}
.main_box2 .info li p.p1 {margin-bottom:10px;}

.copy {text-align:center; padding:45px 0; font-size:16px; color:#999; font-weight:bold;}

/*--------------------------------------------------------*/
/* sub
/*--------------------------------------------------------*/
.sub_tit {width:406px; margin:0 auto; position:relative; font-size:30px; color:#333; text-align:center; font-weight:600; margin-bottom:38px; height:163px; background:url(../images/tit_bg.png) no-repeat center top; line-height:163px;}
.sub_box1 {padding:0 20px; max-width:1040px; margin:0 auto; margin-bottom:40px;}
.sub_box1.mo {display:none;}
.table1 {width:100%; margin:0 auto; border-top:2px solid #333;}
.table1.mo {display:none;}
.table1 td {border:1px solid #ccc; padding:25px 8px; font-size:16px; color:#000; line-height:20px; text-align:center; vertical-align:middle; border-left:0; border-right:0;background-clip: padding-box;background-clip: text; -webkit-background-clip: text;letter-spacing: -0.5px;}
.table1 td.txt {position:relative;border-bottom:1px solid #ccc; vertical-align:top;}

.table1 td.txt .con {}
.table1 td.bold {font-weight:bold;}
.table1 td span.n {font-size:12px; line-height:20px; display:block; position:absolute; left:0; bottom:14px; width:100%; text-align:center; color:#000;border-bottom: 1px solid #ccc;bottom: -1px; padding-bottom: 6px;}

.table1 td.bg1 {background:#e5e5e5;border-bottom:1px solid #ccc;}
.table1 td.bg2 {background:#f8f8f8;border-bottom:1px solid #ccc;}
.table1 td.bg3 {}
.table1 td.bg1.break {padding:12px 8px}

.table1 td.font14 {font-size:14px;}

.sub_btn1 {text-align:center;}
.sub_btn1 a {display:inline-block; vertical-align:top; width:300px; height:60px; line-height:60px; background:#666; font-size:20px; color:#fff;}
.sub_btn1 input {display:inline-block; vertical-align:top; width:300px; height:60px; line-height:60px; background:#666; font-size:20px; color:#fff;}
.sub_btn1 button {display:inline-block; vertical-align:top; width:300px; height:60px; line-height:60px; background:#666; font-size:20px; color:#fff;}
.sub_box1_btn {padding-bottom:150px;}

.sub_box2 {max-width:640px; margin:0 auto; text-align:left; padding:0 20px; padding-top:59px; padding-bottom:75px;}
.sub_box2 p {font-size:16px; color:#000; line-height:36px; margin-top:36px; }
.sub_box2 p:first-child {margin-top:0; padding-bottom:34px; position:relative;}
.sub_box2 p:first-child:after {display:block; content:""; width:100px; height:1px; background:#999; position:absolute; left:0; bottom:0;}
.sub_box2 p.t1 {position:relative; padding-left:25px;}
.sub_box2 p.t1 span {position:absolute; left:0; top:0;font-size:16px; color:#000; line-height:36px;}

.sub_box3 {background:#f8f8f8; padding-top:110px; padding-bottom:170px;}
.inp_form {max-width:640px; margin:0 auto; margin-bottom:40px;}
.inp_form .set {position:relative; padding-left:190px; margin-top:11px;}
.inp_form .set .tit {position:absolute; left:0; top:0; width:190px; height:50px; line-height:48px; text-align:center; border:1px solid #e5e5e5; border-right:0; text-align:center; font-size:16px; color:#333;}
span.txt_o {color:#ff6600;}
.inp_form .set .con {height:50px; background:#fff; border:1px solid #e5e5e5;font-size:16px; color:#333; position:relative;}
.inp_form .set .con input[type=text] {width:100%; height:48px; padding-left:16px;font-size:16px; color:#333; border:0;}
.inp_form .set .con.phone {padding-left:131px;}
.inp_form .set .con .label select {width:100%; height:48px; border-right:1px solid #e5e5e5; padding-left:16px;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
}

.inp_form .set .con .label {position:relative;vertical-align:top;}
.inp_form .set .con .label:after {
    content:'占쏙옙';
    font-size:16px;
    color:#ccc;
    right:7px; top:0; line-height:48px;
    position:absolute;
    pointer-events:none;
}


.inp_form .set .con.phone .label {position:absolute; left:0; top:0; width:131px;}

.inp_form .set .con input[type=text]::-webkit-input-placeholder { color:#999 !important}
.inp_form .set .con input[type=text]:-moz-placeholder { color:#999 !important; opacity:1}
.inp_form .set .con input[type=text]::-moz-placeholder { color:#999 !important; opacity:1}
.inp_form .set .con input[type=text]:-ms-input-placeholder { color:#999}

.mgt_0 {margin-top:0 !important;}
.pad_0 {padding:0 !important;}

.inp_form .set.set2 {padding-left:0;}
.inp_form .set .tit2 {font-size:16px; color:#333; padding-top:24px; padding-bottom:10px; line-height: 20px;}
.radio_sel label {margin-right:40px; line-height:48px; font-size:16px; color:#333;}
.radio_sel label:first-child {padding-left:23px;}
.radio_sel input[type=radio] {width:16px; height:16px; vertical-align:top; margin-top:16px; margin-right:6px;}

.inp_form .set .txt {padding-top:15px; padding-left:12px; font-size:14px;}
.inp_form .set .con textarea {border:0; width:100%; height:198px; padding:15px; font-size:16px; line-height:20px;}
.inp_form .set .con.text {height:200px;}
.inp_form .set .btn_area {}
.inp_form .set .btn_area a.down {display:block; width:250px; height:50px; line-height:48px; text-align:center; background:#666; border:1px solid #e5e5e5; font-size:16px; color:#fff;}

.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label {display: inline-block; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; cursor: pointer; width:190px; height:50px; line-height:48px; text-align:center; background:#666; border:1px solid #e5e5e5; font-size:16px; color:#fff;}
.filebox .upload-name {display: inline-block; font-size:16px; vertical-align: middle; background-color: #fff; border: 1px solid #e5e5e5; -webkit-appearance: none; -moz-appearance: none; appearance: none; width:440px; height:50px; margin-right:10px; padding-left:17px; color:#999;}

.txt_box0 {height:250px; background:#fff; border: 1px solid #e5e5e5; overflow-y:none; padding:18px 24px; font-size:14px; color:#333; line-height:30px;}
.txt_box1 {height:200px; background:#fff; border: 1px solid #e5e5e5; overflow-y:scroll; padding:18px 24px; font-size:14px; color:#333; line-height:30px;}
.txt_box1 strong {font-size:16px; font-weight:600;}
.agree_box {font-size:14px; color:#333; text-align:right; line-height:14px; padding-top:12px; padding-right:9px;}
.agree_box input[type=checkbox] {width:14px; height:14px; vertical-align:middle; margin-right:4px;}

.sub_box4 {text-align:center; padding-top:100px; padding-bottom:200px; font-size:16px; color:#333;}
.sub_box4 .t1 {font-size:20px; font-weight:600; margin-bottom:44px;}
.sub_box4 .t2 {margin-bottom:35px; line-height:36px;}
.sub_box4 .t3 {margin:0 auto; text-align:left; line-height:36px; padding:0 30px; text-align:center;}
.sub_box4 .t3 span {display:inline-block; vertical-align:top; text-align:left;}

.btn_area2 {padding-top:100px;}
.btn_area2 a {display: inline-block; vertical-align:top; width:180px; height:50px; line-height:48px;border:1px solid #e5e5e5; color:#000; font-weight:600; margin-left:7px;}
.btn_area2 a:first-child {margin-left:0;}
.btn_area2 a.btn2 {background:#666; border-color:#666; color:#fff;}
.btn_area2 a.btn3 {background:#999; border-color:#999; color:#fff;}

.main_txt1 {font-size:16px; color:#000; line-height:30px; text-align:left; padding-top:11px;}

.btn_top {position:fixed; right:50px; bottom:149px; width:40px; height:40px; display:block; border:1px solid #e5e5e5; opacity:0; display:none !important;
-webkit-transition: .3s;
transition: .3s;
}
.btn_top.on {/*opacity:1;*/}

.fest-content {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}

.fest-footer {
  background-color: #2C2C2C;
}
.fest-footer .fest-footer1 {
  background-color: #333;
  padding: 34px 0;
}
.fest-footer .fest-footer1::after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.fest-footer .fest-footer1 .fest-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
.fest-footer .fest-footer1 .fest-content > ul li {
  float: left;
  padding-right: 20px;
}
.fest-footer .fest-footer1 .fest-content > ul li a {
  display: block;
  vertical-align: middle;
  line-height: 30px;
}
.fest-footer .fest-footer1 .fest-content > ul li a.sns {
  background-color: #545454;
  color: #959595;
  text-decoration: none;
  border-radius: 100%;
  line-height: 0;
}
.fest-footer .fest-footer1 .fest-content > ul li a.sns i {
  display: block;
  width: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
.fest-footer .fest-footer1 .fest-content > ul li a.sns:hover {
  color: #FFF;
}
.fest-footer .fest-footer1 .fest-content > ul li a.naverd2 img {
  width: 84px;
  height: 20px;
  vertical-align: middle;
}
.fest-footer .fest-footer1 .fest-content > div {
  float: right;
  position: relative;
}
.fest-footer .fest-footer1 .fest-content > div > span {
  color: #808080;
  display: block;
  float: left;
  line-height: 30px;
  font-size: 12px;
  padding-right: 20px;
}
.fest-footer .fest-footer1 .fest-content > div ._history {
  float: left;
  position: relative;
  width: 100px;
  cursor: pointer;
}
.fest-footer .fest-footer1 .fest-content > div ._history > img {
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.fest-footer .fest-footer1 .fest-content > div ._history > span {
  display: block;
  width: 100%;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  z-index: 10;
}
.fest-footer .fest-footer1 .fest-content > div ._history > span i {
  display: inline-block;
  padding-left: 10px;
  position: relative;
  top: 1px;
  z-index: 12;
  color: #969696;
}
.fest-footer .fest-footer1 .fest-content > div ._history:hover i {
  color: #FFF;
}
.fest-footer .fest-footer1 .fest-content > div ._history_list {
  box-sizing: border-box;
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 8px;
  bottom: 40px;
  right: 0;
  width: 100px;
  background-color: #FFF;
  z-index: 20;
  border: 1px solid #D5D5D5;
  display: none;
}
.fest-footer .fest-footer1 .fest-content > div ._history_list li {
  margin: 2px;
}
.fest-footer .fest-footer1 .fest-content > div ._history_list li a {
  display: block;
  white-space: nowrap;
  background-color: #F3F3F3;
  padding: 5px 15px;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
.fest-footer .fest-footer1 .fest-content > div ._history_list li a:hover {
  background-color: #D5D5D5;
}
.fest-footer .fest-footer1 .fest-content > div.act ._history_list {
  display: block;
}

.fest-footer .fest-footer2 {
  position: relative;
  height: 50px;
  background: #2c2c2c url(../images/t_navercorp.png) center no-repeat;
}
.fest-footer .fest-footer2 a {
  position: absolute;
  top:0;
  left: 50%;
  width: 86px;
  height: 100%;
  margin-left: -68px;
}
/**************************************************************** mobile ****************************************************************/
@media screen and (max-width:1024px) {
/*--------------------------------------------------------*/
/*--- main
/*--------------------------------------------------------*/

.sub_box1.pc {display:none;}
.sub_box1.mo {display:block;}

.wrap.sub .top_menu .t {padding-top:30px;}
.wrap.sub .top_menu .t img.mo {display:inline-block;}
.wrap.sub .top_menu .t img.pc {display:none;}
.m_menu {display:block;}
.top_m {display:none;}

.main_top {height:800px; background:url(../images/main_visual_m.jpg) no-repeat center top; background-size:cover;}
.main_top .txt {text-align:center; padding-top:595px;}
.main_top .txt span {display:block;  color:#fff; font-family: 'Roboto Condensed', sans-serif; letter-spacing:0.1px;}

.logo {margin-left:-268px; top:152px;}
.logo img {width:536px;}


.main_box2 {background:#f8f8f8; text-align:center; padding:0 20px; padding-top:90px; padding-bottom:130px;}
.main_box2 .tit {width:488px; margin:0 auto; position:relative; font-family: 'Roboto', sans-serif; font-size:36px; color:#333; margin-bottom:94px;}
.main_box2 .tit:before {position:absolute; left:0; top:50%; margin-top:-1px; width:120px; height:2px; background:#ccc; display:block; content:"";}
.main_box2 .tit:after {position:absolute; right:0; top:50%; margin-top:-1px; width:120px; height:2px; background:#ccc; display:block; content:"";}
.main_box2 .map {text-align:center; position:relative; margin-bottom:32px; max-width:640px; margin:0 auto; height:400px;}
.main_box2 .map a {display:none;}
.main_box2 .map img {max-width:100%;}
.main_box2 .info {text-align:left; max-width:640px; margin:0 auto; padding-top:29px;}
.main_box2 .info li {position:relative; padding-left:178px; min-height:34px; margin-top:26px;}
.main_box2 .info li:first-child {margin-top:0;}
.main_box2 .info li span {display:block; position:absolute; left:0; top:0; width:150px; height:34px; background:#999; text-align:center; line-height:34px; font-size:20px; color:#fff;}
.main_box2 .info li p {font-size:20px; color:#000; line-height:30px;}
.main_box2 .info li p b {display:inline-block; width:65px; height:28px; text-align:center; line-height:28px; border-radius:28px; font-size:20px; color:#fff; margin-left:-16px; margin-right:20px;}
.main_box2 .info li p b.b1 {background:#f55a16;}
.main_box2 .info li p b.b2 {background:#395cb3;}
.main_box2 .info li p b.b3 {background:#50a232;}
.main_box2 .info li p.p1 {margin-bottom:10px;}

.copy {text-align:center; font-size:16px; color:#999; font-weight:bold;}

/*--------------------------------------------------------*/
/* sub
/*--------------------------------------------------------*/
.wrap.sub {}
.top_menu .t {}
.sub_tit {}

.sub_box1 {margin-bottom:93px;}
.sub_box1_btn {padding-bottom:150px;}
.table1 {width:100%; border-top:2px solid #333;}
.table1.pc {}
.table1.mo {display:table;}


.sub_box3 {background:#f8f8f8; padding:0 20px; padding-top:110px; padding-bottom:190px;}
.inp_form {margin-bottom:80px;}
.inp_form .set {position:relative; padding-left:190px; margin-top:11px;}
.inp_form .set .tit {position:absolute; left:0; top:0; width:190px; height:50px; line-height:48px; text-align:center; border:1px solid #e5e5e5; border-right:0; text-align:center; font-size:16px; color:#333;}
span.txt_o {color:#ff6600;}
.inp_form .set .con {height:50px; background:#fff; border:1px solid #e5e5e5;font-size:16px; color:#333; position:relative;}
.inp_form .set .con input[type=text] {width:100%; height:48px; padding-left:16px;font-size:16px; color:#333; border:0;}
.inp_form .set .con.phone {padding-left:131px;}
.inp_form .set .con .label select {width:100%; height:48px; border-right:1px solid #e5e5e5; padding-left:16px;
border:none;
outline:none;
display: inline-block;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
}

.inp_form .set .con .label {position:relative;vertical-align:top;}
.inp_form .set .con .label:after {
    content:'占쏙옙';
    font-size:16px;
    color:#ccc;
    right:7px; top:0; line-height:48px;
    position:absolute;
    pointer-events:none;
}


.inp_form .set .con.phone .label {position:absolute; left:0; top:0; width:131px;}

.inp_form .set .con input[type=text]::-webkit-input-placeholder { color:#999 !important}
.inp_form .set .con input[type=text]:-moz-placeholder { color:#999 !important; opacity:1}
.inp_form .set .con input[type=text]::-moz-placeholder { color:#999 !important; opacity:1}
.inp_form .set .con input[type=text]:-ms-input-placeholder { color:#999}

.mgt_0 {margin-top:0 !important;}

.inp_form .set.set2 {padding-left:0;}
.inp_form .set .tit2 {font-size:16px; color:#333; padding-top:24px; padding-bottom:10px;}
.radio_sel label {margin-right:40px; line-height:48px; font-size:16px; color:#333;}
.radio_sel label:first-child {padding-left:23px;}
.radio_sel input[type=radio] {width:16px; height:16px; vertical-align:top; margin-top:16px; margin-right:6px;}

.inp_form .set .txt {padding-top:15px; padding-left:12px; font-size:14px;}
.inp_form .set .con textarea {border:0; width:100%; height:198px; padding:15px; font-size:16px; line-height:20px;}
.inp_form .set .con.text {height:200px;}
.inp_form .set .btn_area {}
.inp_form .set .btn_area a.down {display:block; width:250px; height:50px; line-height:48px; text-align:center; background:#666; border:1px solid #e5e5e5; font-size:16px; color:#fff;}

.filebox {position:relative; padding-right:200px;}
.filebox input[type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox label {display: inline-block; color: #999; font-size: inherit; line-height: normal; vertical-align: middle; cursor: pointer; width:190px; height:50px; line-height:48px; text-align:center; background:#666; border:1px solid #e5e5e5; font-size:16px; color:#fff; position:absolute; right:0; top:0;}
.filebox .upload-name {display: inline-block; font-size:16px; vertical-align: middle; background-color: #fff; border: 1px solid #e5e5e5; -webkit-appearance: none; -moz-appearance: none; appearance: none; width:100%; height:50px; padding-left:17px; color:#999;}

.txt_box0 {height:250px; background:#fff; border: 1px solid #e5e5e5; overflow-y:none; padding:18px 24px; font-size:14px; color:#333; line-height:30px;}
.txt_box1 {height:200px; background:#fff; border: 1px solid #e5e5e5; overflow-y:scroll; padding:18px 24px; font-size:14px; color:#333; line-height:30px;}
.agree_box {font-size:14px; color:#333; text-align:right; line-height:14px; padding-top:12px; padding-right:9px;}
.agree_box input[type=checkbox] {width:14px; height:14px; vertical-align:middle; margin-right:4px;}

}



@media screen and (max-width:720px) {
.only-mobile { display: inherit; }
.only-mobile.space { margin-bottom: 19px;}
 
.top_menu .m {width:280px;}
.top_menu .m .con {padding-top:70px;}
.top_menu .m ul li a.depth1 {font-size:20px;padding-left:25px; margin-top:25px;}
.top_menu .m ul li:first-child a.depth1 {margin-top:0;}
.top_menu .m .con .close {top:14px; right:17px; width:23px;}

.m_menu {right:17px; top:14px;}
.m_menu img {width:23px;}
.logo {margin-left:-134px; top:76px;}
.logo img {width:268px;}

.top_menu .t {height:50px;}

.main_top .txt .over {top: 342px; width:400px; margin-left:-200px; padding:30px 20px; font-size:13px; line-height:20px; height:auto;}
.main_top .txt .over b {font-size:18px;}



/*--------------------------------------------------------*/
/*--- main
/*--------------------------------------------------------*/

.main_top {height:400px; background-size:cover;}
.main_top .txt {padding-top:300px;}


.main_top .txt {}
.main_top .txt span {font-size:62px;}
.main_top .txt p {font-size:34px; padding-top:5px; margin-bottom:28px;}
.main_top .txt a {width:96px; height:28px; line-height:26px; font-size:13px; margin:0 5px;}

.main_box1 {padding-top:55px; padding-bottom:50px;}
.main_box1 p {font-size:13px; line-height:30px; margin-top:25px;}
.main_box1 p:first-child {margin-top:0;}
.main_box1 b {line-height:30px;}

.main_box2 {padding-top:50px; padding-bottom:65px;}
.main_box2 .tit {width:244px; font-size:18px; margin-bottom:47px;}
.main_box2 .tit:before {width:60px; height:1px;}
.main_box2 .tit:after {width:60px; height:1px;}
.main_box2 .map {margin-bottom:16px; height:300px;}
.main_box2 .info {padding-top:15px;}
.main_box2 .info li {padding-left:89px; min-height:17px; margin-top:13px;}
.main_box2 .info li:first-child {margin-top:0;}
.main_box2 .info li span {width:75px; height:17px; line-height:17px; font-size:13px;}
.main_box2 .info li p {font-size:13px; line-height:20px;}
.main_box2 .info li p b {width:33px; height:18px; line-height:18px; border-radius:18px; font-size:13px; margin-left:-8px; margin-right:10px;}
.main_box2 .info li p.p1 {margin-bottom:5px;}

.copy {padding:20px 0; font-size:13px;}

.wrap.sub {}

.wrap.sub .top_menu .t:after {width:30px; height:23px; background-size:30px auto;bottom:-8px; margin-left:-15px;}
.sub_tit {width:244px; font-size:18px;height: 130px;background-size: 130px auto;line-height: 113px; margin-bottom:20px;}
.sub_tit:before {width:60px;}
.sub_tit:after {width:60px;}

.sub_box1 {    margin-bottom: 47px;}
.sub_box1_btn {padding-bottom:47px;}
.table1 {border-top:1px solid #333;}
.table1 td {padding:12px 6px; font-size:13px; line-height:17px;}
.table1 td.first {width:100px;}
.table1 td span.n {font-size:12px; line-height:17px;}
.sub_btn1 a {width:180px; height:47px; line-height:47px; font-size:13px;}
.sub_btn1 input {width:180px; height:47px; line-height:47px; font-size:13px;}
.sub_btn1 button {width:180px; height:47px; line-height:47px; font-size:13px;}


.sub_box2 {padding-top:49px; padding-bottom:45px;}
.sub_box2 p {font-size:13px; line-height:25px; margin-top:20px;}
.sub_box2 p:first-child {margin-top:0; padding-bottom:20px; position:relative;}
.sub_box2 p:first-child:after {width:50px;}
.sub_box2 p.t1 {padding-left:20px;}
.sub_box2 p.t1 span {font-size:13px; line-height:30px;}

.sub_box3 {padding-top:55px; padding-bottom:95px;}
.inp_form {margin-bottom:40px;}
.inp_form .set {padding-left:95px; margin-top:6px;}
.inp_form .set .tit {width:95px; height:30px; line-height:28px; font-size:13px;}
.inp_form .set .con {height:30px; font-size:13px;}
.inp_form .set .con input[type=text] {height:26px; padding-left:8px; font-size:13px; border:0;}
.inp_form .set .con.phone {padding-left:65px;}
.inp_form .set .con .label select {height:28px; padding-left:8px; font-size:13px;}

.inp_form .set .con .label:after {font-size:13px;line-height:28px;}

.inp_form .set .con.phone .label {width:61px;}

.inp_form .set .tit2 {font-size:13px; padding-top:12px; padding-bottom:5px;}
.radio_sel label {margin-right:20px; line-height:28px; font-size:13px;}
.radio_sel label:first-child {padding-left:12px;}
.radio_sel input[type=radio] {width:16px; height:16px; vertical-align:top; margin-top:8px; margin-right:3px;}

.inp_form .set .txt {padding-top:8px; padding-left:6px; font-size:13px;}
.inp_form .set .con textarea {height:100px; padding:10px; font-size:13px; line-height:18px;}
.inp_form .set .con.text {height:100px;}
.inp_form .set .btn_area a.down {width:145px; height:30px; line-height:28px; font-size:13px; color:#fff;}

.filebox {padding-right:100px;}
.filebox label {width:95px; height:30px; line-height:28px; font-size:13px;}
.filebox .upload-name {font-size:13px; height:30px; padding-left:8px;}

.txt_box0 {height:200px; padding:10px 12px; font-size:12px; line-height:20px;}
.txt_box1 {height:100px; padding:10px 12px; font-size:12px; line-height:20px;}
.agree_box {font-size:13px; padding-top:6px; padding-right:5px;}

.sub_box4 {padding-top:54px; padding-bottom:150px; font-size:14px;}
.sub_box4 .t1 {font-size:18px; margin-bottom:28px;}
.sub_box4 .t2 {margin-bottom:29px; line-height:30px;}
.sub_box4 .t3 {line-height:30px;}

.btn_area2 {padding-top:60px;}
.btn_area2 a {width:108px; height:40px; line-height:38px; margin-left:4px; font-size:14px;}
.btn_area2 a:first-child {margin-left:0;}

  .fest-content {
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    padding: 0 15px;
  }

  .fest-footer .fest-footer1 {
    padding: 1px 0 18px 0;
  }
  .fest-footer .fest-footer1 .fest-content > ul {
    float: none;
  }
  .fest-footer .fest-footer1 .fest-content > div {
    float: none;
  }
  .fest-footer .fest-footer1 .fest-content > div > span {
    display: none;
  }
  .fest-footer .fest-footer1 .fest-content > div ._history {
    display: block;
    float: none;
    margin: 20px auto 0;
  }
  .fest-footer .fest-footer1 .fest-content > div ._history img {
    top: auto;
    bottom: 0;
  }
  .fest-footer .fest-footer1 .fest-content > div ._history_list {
    right: 32%;
  }
  .fest-footer .fest-footer2 {
    background: #2c2c2c url(../images/t_navercorp@mobile.png) center no-repeat;
    -webkit-background-size: 88px 13px;
    background-size: 88px 13px;
  }
  .fest-footer .fest-footer2 a {
    width: 96px;
    margin-left: -48px;
  }
}
